<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="SqlSeverDBConn" connectionString="Integrated Security=true; Data Source=(localdb)\mssqllocaldb; Initial Catalog = PARKING;" providerName="System.Data.SqlClient" />
    <add name="MongoDBConn" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
</configuration>